html {
    height: 100%;
}

body {
    font-family: 'Pragmatica', arial;
    background-color: #0873BB;
    background-image: url("assets/Ornamen\ 3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.time-box {
    margin: 0px 5px 0px 5px;
}

.title-coming-soon {
    text-align: center;
}

.title-coming-soon p {
    display: inline-block;
}

.text-coming {
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 8px;
    color: #FFFFFF;
}

.text-soon {
    margin: 0 0 0 0;
    font-weight: bold;
    font-size: 4rem;
    color: #FFFFFF;
}

.text-time {
    font-size: 1.25rem!important;
}

.number-time {
    font-size: 3.5rem!important;
}

.social-media {
    margin: 3vw 20vw 0vw 3vw;
}

.social-media-icon {
    margin: 0px 5px 0px 5px;
    max-width: 10%;
    height: auto;
}

.footer-logo-long {
    width: 100%;
    margin-bottom: 2vw;
}

.vector-side {
    max-height: 500px;
    margin-bottom: 2vw;
    min-width: 100px;
    padding-left: 55vw;
}